---
title: b3x9 - jknox
layout: layouts/home.njk
description: b3x9 - the hosting platform for cyber and infosec professionals.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---
<h3> welcome to my site ! </h3>
<p>
 here you will find a collection of my posts and links to my contact informtion
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>